span {
    transition:color 1s;
}

h1 {
    font-size: 8em;
    width:100%;
    height: 30%;
    text-align: center;
}

@media (max-width: 800px)
 {
    h1 {
        font-size: 2em;
        box-sizing: border-box;
        background-color: plum
        /* width:50%; */
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 5em;
        margin:50px 0;
    }
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: black;
  }




